# =========================
# API Framework
# =========================

fastapi==0.115.0
uvicorn==0.30.6


# =========================
# Data Processing
# =========================

pandas==2.2.2
numpy==1.26.4


# =========================
# Machine Learning
# =========================

scikit-learn==1.4.2
catboost==1.2.7


# =========================
# Model Persistence
# =========================

joblib==1.4.2


# =========================
# Validation
# =========================

pydantic==2.8.2